{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greyteeks || Reset Password</title>

  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <!--- End favicon-->

  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <!-- End google font  -->

  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom-font.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/splitting.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/icomoon.css' %}">

  <!-- Code Editor  -->

  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
</head>

<body class="light">

  <div class="sofax-preloader-wrap">
    <div class="sofax-preloader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- progress bar -->

  <div class="progress-bar-container">
    <div class="progress-bar"></div>
  </div>

  <!-- progress circle -->
  <div class="paginacontainer">
    <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
      <div class="top-arrow">
        <img src="{% static 'assets/images/arrowtop.png' %}" alt="">
      </div>
    </div>
  </div>
  <!-- End All Js -->



  <section class="sofax-section-padding2">
    <div class="container">
      <div class="sofax-form-field-box">
        <div class="text-center mb-4 pb-3">
          <a href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo-dark.svg' %}" alt="Greyteeks" style="max-width: 160px; margin: 0 auto; display: block;">
          </a>
        </div>
        <h2>Reset password</h2>
        <div class="sofax-field-box">
          <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <div class="sofax-main-field">
              <label>Email Address</label>
              <input type="email" name="email" placeholder="you@example.com" required>
            </div>
            <button class="sofax-subcribe-btn2" type="submit">Send Reset Link</button>
            <div class="login reset-pswrd">
              <span>Remember password?</span>
              <a href="{% url 'login' %}">
                <h4>Sign In Now</h4>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>









  <!-- scripts -->
  <script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/aos.js' %}"></script>
  <script src="{% static 'assets/js/menu/menu.js' %}"></script>
  <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/countdown.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
  <script src="{% static 'assets/js/countdown.js' %}"></script>
  <script src="{% static 'assets/js/skill-bar.js' %}"></script>
  <script src="{% static 'assets/js/pricing-switcher.js' %}"></script>
  <script src="{% static 'assets/js/top-to-bottom.js' %}"></script>
  <script src="{% static 'assets/js/gsap.js' %}"></script>
  <script src="{% static 'assets/js/ScrollTrigger.js' %}"></script>
  <script src="{% static 'assets/js/SplitText.js' %}"></script>
  <script src="{% static 'assets/js/gsap-animation.js' %}"></script>


  <!-- <script src="{% static 'assets/js/scrollsmooth.js' %}"></script> -->
  <script src="{% static 'assets/js/accordion.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyArZVfNvjnLNwJZlLJKuOiWHZ6vtQzzb1Y"></script>

  <script src="{% static 'assets/js/app.js' %}"></script>

</body>
</html>