{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password | Greyteeks</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
</head>
<body>
  <div class="container py-5 text-center">
    <h1>Set a new password</h1>
    <div class="mt-4">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Set new password</button>
      </form>
    </div>
  </div>
</body>
</html>
